body {
    box-sizing: border-box;
}

em {
    font-style: italic;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #FF7940;
}

#ratings-area {
    flex-grow: 1;
    /* align-self: flex-start; */
}

#search-area {
    flex-grow: 2;
}

#add-button-area {
    flex-grow: 1;
    /* align-self: flex-end; */
}

.btn {
    margin: 10px;
}

.radio-button {
    margin: 0 0 0 20px;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

div {
    text-align: center;
    align-content: center;
}

#last-search {
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: #3D5C99;
}

.gif-holder {
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: lightgray;
    width: 200px;
}

.gif-info {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
}

.glyphicon-heart, .glyphicon-heart-empty {
    color: red;
}

.gif-rating {
    font-weight: bold;
}

.img-and-iframe {
    display: flex;
    justify-content: center;
}

iframe:hover {
    opacity: 1;
}

img {
    position: absolute;
    align-self: center;
    max-height: 150px;
}

iframe {
    left: 0px;
    position: relative;
    border: 0;
    opacity: 0;
    width: 200px;
    max-height: 200px;
    align-self: center;
    transition: 0.5s;
}

.more-button {
    margin: 20px 0 40px 0;
}