body {
    box-sizing: border-box;
}

em {
    font-style: italic;
}

#page-title {
    font-family: 'Monoton', cursive;
    font-size: xx-large;
    color: white;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 0 10px 0;
    font-weight: bold;
    background-color: #FF7940;
}

#ratings-area {
    flex-grow: 1;
}

#ratings-heading {
    display: inline;
}

#search-area {
    flex-grow: 1;
}

#add-button-area {
    flex-grow: 1;
}

.btn {
    margin: 10px;
}

div {
    text-align: center;
    align-content: center;
}

p {
    text-align: center;
}

#last-search {
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: #3D5C99;
}

.gif-holder {
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: lightgray;
    width: 200px;
}

.gif-info {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.glyphicon-heart, .glyphicon-heart-empty {
    color: red;
}

.gif-rating {
    font-style: italic;
}

.img-and-iframe {
    display: flex;
    justify-content: center;
}

iframe:hover {
    opacity: 1;
}

img {
    position: absolute;
    align-self: center;
    max-height: 150px;
}

iframe {
    left: 0px;
    position: relative;
    border: 0;
    opacity: 0;
    width: 200px;
    max-height: 200px;
    align-self: center;
    transition: 0.5s;
}

.more-button {
    margin: 20px 0 40px 0;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 900px) {
    #page-title {
        font-size: large;
    }
    header {
        display: block;
        margin: 0 0 10px 0;
        font-weight: bold;
        background-color: #FF7940;
    }
    #ratings-area {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }
    #ratings-heading {
        display: inline-block;
    }
    #search-area {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }
    #add-button-area {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }
    .text-input {
        width: 25%;
        height: 1.7rem;
    }
    .btn {
        padding: 0 10px;
        margin: 5px;
    }
    h1 {
        font-size: large;
    }
    #delete-notice {
        display: none;
    }
    img {
        display: none;
    }
    iframe {
        opacity: 1;
    }
}

@media only screen and (max-width: 800px) {
    /*really small margins for better layout on mobile in portrait*/
}

@media only screen and (max-width: 600px) {
    /*really small margins for better layout on mobile in portrait*/
}